
apiVersion: batch/v1
kind: Job
metadata:
  labels:
    run: {{job_name}}
  name: {{job_name}}-info{{node}}
spec:
  parallelism: 1
  template:
    metadata:
      labels:
        run: {{job_name}}
    spec:
      hostNetwork: true
      containers:
        - name: {{job_name}}
          image: xbfu1994/test:v4
          command: ["python"]
          args: ["/workspace/measurement/info.py","--file_dir=/workspace/measurement/logs/info{{node}}.log","--job_name=info{{node}}","--interval=1.0"]
          ports:
            - containerPort: {{port}}
          volumeMounts:
            - name: mydir
              mountPath: /workspace/measurement
      nodeSelector:
        kubernetes.io/hostname: node-{{node}}
      volumes:
        - name: mydir
          hostPath:
            path: /home/ubuntu/measurement
      restartPolicy: Never
---