
apiVersion: batch/v1
kind: Job
metadata:
  labels:
    run: {{job_name}}
  name: {{job_name}}-scheduler
spec:
  parallelism: 1
  template:
    metadata:
      labels:
        run: {{job_name}}
    spec:
      containers:
        - name: {{job_name}}
          image: xbfu1994/test:v4
          command: ["python"]
          args: ["/workspace/measurement/rr.py","--model={{model_name}}","--job_name={{job_name}}","--rank={{rank}}","--batch_size={{batch_size}}","--num_ps={{num_ps}}","--num_workers={{num_workers}}","--master_addr={{job_name}}","--num_epochs=2","--lr={{lr}}"]
          ports:
            - containerPort: {{port}}
          volumeMounts:
            - name: mydir
              mountPath: /workspace/measurement
      nodeSelector:
        kubernetes.io/hostname: node-00
      volumes:
        - name: mydir
          hostPath:
            path: /home/ubuntu/measurement
      restartPolicy: Never
---
