
apiVersion: batch/v1
kind: Job
metadata:
  labels:
    run: {{job_name}}
  name: {{job_name}}-ps
spec:
  parallelism: 1
  template:
    metadata:
      labels:
        run: {{job_name}}
    spec:
      containers:
        - name: {{job_name}}
          image: xbfu1994/test:v4
          command: ["python"]
          args: ["/workspace/measurement/{{model_name}}-{{ss}}.py","--model={{model_name}}","--job_name={{job_name}}_{{ss}}","--rank={{rank}}","--batch_size={{batch_size}}","--num_workers={{num_workers}}","--master_addr={{job_name}}","--num_epochs=100","--lr={{lr}}"]
          ports:
            - containerPort: {{port}}
          {%- if cpu > 0 %}
          resources:
            limits:
              cpu: "{{cpu}}"
          {%- endif %}
          volumeMounts:
            - name: mydir
              mountPath: /workspace/measurement
      nodeSelector:
        kubernetes.io/hostname: node-{{node}}
      volumes:
        - name: mydir
          hostPath:
            path: /home/ubuntu/measurement
      restartPolicy: Never
---
